@tailwind base;

@tailwind components;

@tailwind utilities;

/* Paste your custom css here */
html,
body {
  font-family: "Open Sans", sans-serif;
}
.app {
  display: grid;
  place-items: center;
  /*take the entire space of the screen */
  height: 100vh;
  background-color: #dadbd5;
}
.header {
  background-color: #009688;
  height: 7.5rem;
  width: 100%;
  margin-bottom: auto;
}
.app__body {
  display: flex;
  background-color: #f8f9fa;
  margin-top: -10rem;
  height: 95vh;
  width: 80vw;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.MuiIconButton-root {
  padding: 0 !important;
}
